body, html {
  background: url(images/coffee-apple.jpg) no-repeat;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;

  
  /* -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background: cover;
  width: 100%;
  height: 100%; */
}